@font-face {
  font-family: 'Ravi NoEn Thin WOFF';
  src: url('woff/RaviNoEn-Thin.woff');
}

@font-face {
  font-family: 'Ravi NoEn Light WOFF';
  src: url('woff/RaviNoEn-Light.woff');
}

@font-face {
  font-family: 'Ravi NoEn Regular WOFF';
  src: url('woff/RaviNoEn-Regular.woff');
}

@font-face {
  font-family: 'Ravi NoEn Medium WOFF';
  src: url('woff/RaviNoEn-Medium.woff');
}

@font-face {
  font-family: 'Ravi NoEn SemiBold WOFF';
  src: url('woff/RaviNoEn-SemiBold.woff');
}

@font-face {
  font-family: 'Ravi NoEn Bold WOFF';
  src: url('woff/RaviNoEn-Bold.woff');
}

@font-face {
  font-family: 'Ravi NoEn Black WOFF';
  src: url('woff/RaviNoEn-Black.woff');
}

@font-face {
  font-family: 'Ravi NoEn ExtraBlack WOFF';
  src: url('woff/RaviNoEn-ExtraBlack.woff');
}

@font-face {
  font-family: 'Ravi NoEn Thin WOFF2';
  src: url('woff2/RaviNoEn-Thin.woff2');
}

@font-face {
  font-family: 'Ravi NoEn Light WOFF2';
  src: url('woff2/RaviNoEn-Light.woff2');
}

@font-face {
  font-family: 'Ravi NoEn Regular WOFF2';
  src: url('woff2/RaviNoEn-Regular.woff2');
}

@font-face {
  font-family: 'Ravi NoEn Medium WOFF2';
  src: url('woff2/RaviNoEn-Medium.woff2');
}

@font-face {
  font-family: 'Ravi NoEn SemiBold WOFF2';
  src: url('woff2/RaviNoEn-SemiBold.woff2');
}

@font-face {
  font-family: 'Ravi NoEn Bold WOFF2';
  src: url('woff2/RaviNoEn-Bold.woff2');
}

@font-face {
  font-family: 'Ravi NoEn Black WOFF2';
  src: url('woff2/RaviNoEn-Black.woff2');
}

@font-face {
  font-family: 'Ravi NoEn ExtraBlack WOFF2';
  src: url('woff2/RaviNoEn-ExtraBlack.woff2');
}

